**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
tmp_pdfs/
venv/
.vscode/
documentation/
notebooks/
.git/
.myenv
my_env.yaml
scrapy.log
Dockerfile
.dockerignore
README.md
.pre-commit-config.yaml
**/.amlignore*
**/.gitignore*
**/.ipynb_aml_checkpoints/
**/.ipynb_checkpoints/
.ruff_cache/
pyproject.toml
